@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap");
/* line 3, ../scss/base/_base.scss */
*,
body,
input,
select,
button,
img {
  outline: none !important;
}

/* line 6, ../scss/base/_base.scss */
BODY {
  font-family: "Noto Sans", sans-serif;
}
/* line 9, ../scss/base/_base.scss */
BODY p {
  color: #7b7b7b;
}

/* line 13, ../scss/base/_base.scss */
A {
  outline: 0;
}
/* line 17, ../scss/base/_base.scss */
A:hover {
  text-decoration: none;
}
/* line 21, ../scss/base/_base.scss */
A:hover,
A:active,
A:focus,
A:visited {
  outline: 0;
  text-decoration: none;
}

/* line 27, ../scss/base/_base.scss */
H3,
H2,
h5,
h4 {
  font-family: "Lora", serif;
}

/* line 32, ../scss/base/_base.scss */
p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

/* line 37, ../scss/base/_base.scss */
A {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

@media (min-width: 1200px) {
  /* line 43, ../scss/base/_responsive.scss */
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  /* line 49, ../scss/base/_responsive.scss */
  .container {
    max-width: 1400px;
  }
}
/* ---------------------

Mixin para hacer elementos que ocupen todo el contenido de la capa superior

-------------------------*/
/* ---------------------

Mixin para alineaci├│n vertical con posicionamiento absoluto

-------------------------*/
/* ---------------------

Mixin para el color del placeholder

-------------------------*/
/** LIMITA NUMERO DE LINEAS **/
@keyframes menuUnderline {
  0% {
    width: 20%;
  }
}
@keyframes fromTop {
  0% {
    opacity: 0;
    top: -30%;
  }
  50% {
    top: 2%;
    opacity: 1;
  }
}
@keyframes bounceBotton {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fromLeft {
  0% {
    width: 0px;
  }
}
@keyframes bouncing {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -40%);
  }
  100% {
    transform: translateX(-50%, -50%);
  }
}
@keyframes arrowAction {
  50% {
    left: -10px;
  }
}
/* line 1, ../scss/comun/_comun.scss */
.wpmtst-testimonial-heading a {
  color: #a98333;
}

/* line 3, ../scss/comun/_comun.scss */
.lnk,
.woocommerce div.product form.cart .variations .reset_variations {
  color: #a98333;
  border-bottom: 1px solid;
  text-transform: uppercase;
}

/* line 8, ../scss/comun/_comun.scss */
.lnk-hover {
  transition: all 500ms;
}
/* line 10, ../scss/comun/_comun.scss */
.lnk-hover:hover {
  color: #000;
}

/* line 15, ../scss/comun/_comun.scss */
.text-golden {
  color: #a98334;
}

/* line 19, ../scss/comun/_comun.scss */
.icon-circulo {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: auto;
  border: 1px solid #afafaf;
  color: #000;
  text-align: center;
  font-size: 13px;
  position: relative;
  transition: all 500ms;
}
/* line 33, ../scss/comun/_comun.scss */
.icon-circulo I {
  vertical-align: middle;
}

/* line 38, ../scss/comun/_comun.scss */
.hover-inverso {
  transition: all 500ms;
}
/* line 40, ../scss/comun/_comun.scss */
.hover-inverso:hover {
  background-color: #000;
  color: #fff;
}

h2 {
  font-size: 35px;
}
@media (max-width: 576px) {
  /* line 69, ../scss/comun/_comun.scss */
  h2 {
    font-size: 22px;
  }
}

/* line 76, ../scss/comun/_comun.scss */
.telefono,
.email,
.direccion {
  font-family: "Noto Sans", sans-serif;
  font-size: 11px;
  display: inline-block;
  color: #000;
}
/* line 81, ../scss/comun/_comun.scss */
.telefono I,
.email I,
.direccion I {
  font-size: 14px;
}

/* line 2, ../scss/comun/_header.scss */
header .contacto-cabecera {
  font-family: "Lora", serif;
  background-color: #f0f0f0;
  padding: 10px 0;
}
/* line 7, ../scss/comun/_header.scss */
header .contacto-cabecera .logo_header {
  width: 25px;
}
/* line 11, ../scss/comun/_header.scss */
header .contacto-cabecera span {
  margin-left: 15px;
}
/* line 17, ../scss/comun/_header.scss */
header .contacto-cabecera .lnk-shop {
  position: relative;
  line-height: 0;
  font-weight: 400;
}
/* line 21, ../scss/comun/_header.scss */
header .contacto-cabecera .lnk-shop .cart-items {
  position: absolute;
  right: -8px;
  top: -4px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 15px;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  border: 1px solid #a98333;
  background-color: #a98333;
  font-size: 11px;
}
/* line 40, ../scss/comun/_header.scss */
header .contacto-cabecera .telefono {
  font-family: "Noto Sans", sans-serif;
  font-size: 11px;
  display: inline-block;
  color: #000;
}
/* line 47, ../scss/comun/_header.scss */
header .contacto-cabecera .lnk,
header
  .contacto-cabecera
  .woocommerce
  div.product
  form.cart
  .variations
  .reset_variations,
.woocommerce
  div.product
  form.cart
  .variations
  header
  .contacto-cabecera
  .reset_variations {
  border: 0;
}
/* line 50, ../scss/comun/_header.scss */
header .contacto-cabecera .lnk I,
header
  .contacto-cabecera
  .woocommerce
  div.product
  form.cart
  .variations
  .reset_variations
  I,
.woocommerce
  div.product
  form.cart
  .variations
  header
  .contacto-cabecera
  .reset_variations
  I {
  color: #afafaf;
  font-size: 20px;
}
/* line 56, ../scss/comun/_header.scss */
header .contacto-cabecera .language-selector {
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
  border-left: 1px solid #8e8e8e;
  padding-left: 10px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
/* line 67, ../scss/comun/_header.scss */
header .menu {
  transition: all 300ms;
}
/* line 72, ../scss/comun/_header.scss */
header .menu.sticky .logo .logo-sticky {
  display: inline-block;
  filter: invert(45%) sepia(88%) saturate(1084%) hue-rotate(20deg)
    brightness(93%) contrast(98%);
  padding: 12px 0;
  width: 60px;
}
/* line 78, ../scss/comun/_header.scss */
header .menu.sticky .logo .logo-normal {
  display: none;
}
/* line 85, ../scss/comun/_header.scss */
header .menu .logo {
  border-bottom: 1px solid #dee2e6;
  background-color: #fff;
}
/* line 89, ../scss/comun/_header.scss */
header .menu .logo .logo-sticky {
  display: none;
}
/* line 92, ../scss/comun/_header.scss */
header .menu .logo .logo-normal {
  padding: 20px 0;
  width: 150px;
}

/* line 2, ../scss/comun/_footer.scss */
footer .footer-suscripcion {
  padding: 25px;
}
/* line 4, ../scss/comun/_footer.scss */
footer .footer-suscripcion I {
  font-weight: bold;
}
/* line 7, ../scss/comun/_footer.scss */
footer .footer-suscripcion .lnk,
footer
  .footer-suscripcion
  .woocommerce
  div.product
  form.cart
  .variations
  .reset_variations,
.woocommerce
  div.product
  form.cart
  .variations
  footer
  .footer-suscripcion
  .reset_variations {
  font-family: "Lora", serif;
  font-size: 14px;
}
/* line 13, ../scss/comun/_footer.scss */
footer .redes-sociales {
  background-color: #f0f0f0;
  padding: 25px 0px;
}
/* line 16, ../scss/comun/_footer.scss */
footer .redes-sociales I {
  margin-right: 10px;
  font-size: 20px;
  color: #454545;
}
/* line 22, ../scss/comun/_footer.scss */
footer .logo-footer {
  background-color: #f0f0f0;
}
/* line 24, ../scss/comun/_footer.scss */
footer .logo-footer IMG {
  width: 80px;
  padding: 25px 0px 15px 0;
}
/* line 29, ../scss/comun/_footer.scss */
footer .block-footer {
  background-color: #fff;
  padding-top: 50px;
}
/* line 32, ../scss/comun/_footer.scss */
footer .block-footer h5 {
  text-transform: uppercase;
  color: #a98333;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 38, ../scss/comun/_footer.scss */
footer .block-footer ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
/* line 43, ../scss/comun/_footer.scss */
footer .block-footer ul li a {
  color: #7b7b7b;
  font-size: 11px;
  line-height: 1.8;
  font-family: "Noto Sans", sans-serif;
}
/* line 52, ../scss/comun/_footer.scss */
footer .block-footer .block-contacto P {
  color: #7b7b7b;
  margin: 9px 0;
  font-size: 11px;
}
/* line 57, ../scss/comun/_footer.scss */
footer .block-footer .block-contacto span {
  text-transform: uppercase;
}

/* line 69, ../scss/comun/_footer.scss */
.my-floating {
  bottom: 52px;
  left: 26px;
  border-radius: 300px;
  padding: 15px;
  background: white;
  box-shadow: 0 0 6px #00000050;
  transition: all 500ms linear;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 2;
  opacity: 1;
}
/* line 84, ../scss/comun/_footer.scss */
.my-floating.hidden {
  left: -100px;
  opacity: 0;
}
/* line 89, ../scss/comun/_footer.scss */
.my-floating .icon {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  pointer-events: none;
  transition: all 500ms linear;
  margin-right: 15px;
  filter: invert(45%) sepia(88%) saturate(1084%) hue-rotate(20deg)
    brightness(93%) contrast(98%);
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}
/* line 103, ../scss/comun/_footer.scss */
.my-floating .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Lora", serif;
  color: #000;
  text-transform: uppercase;
  transition: all 500ms linear;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  opacity: 0;
}
/* line 119, ../scss/comun/_footer.scss */
.my-floating:hover {
  width: 210px;
}
/* line 122, ../scss/comun/_footer.scss */
.my-floating:hover .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
/* line 126, ../scss/comun/_footer.scss */
.my-floating:hover .text {
  opacity: 1;
}
@media (max-width: 576px) {
  /* line 69, ../scss/comun/_footer.scss */
  .my-floating {
    bottom: 10px;
    left: 5px;
  }
}

/***
shortCode seccion-header
************/
/* line 4, ../scss/comun/_structure.scss */
.block-header {
  padding: 140px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 9, ../scss/comun/_structure.scss */
.block-header h3 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
/* line 15, ../scss/comun/_structure.scss */
.block-header.secondary {
  padding: 40px;
}
@media (max-width: 576px) {
  /* line 20, ../scss/comun/_structure.scss */
  .block-header h3 {
    font-size: 28px;
  }
}

/**************
 ShortCode secci├│n t├¡tulo

*/
/* line 32, ../scss/comun/_structure.scss */
.titulo-seccion {
  margin-top: 30px;
  text-align: center;
}
/* line 35, ../scss/comun/_structure.scss */
.titulo-seccion h2 {
  font-size: 35px;
}
@media (max-width: 576px) {
  /* line 41, ../scss/comun/_structure.scss */
  .titulo-seccion h2 {
    font-size: 28px;
  }
}

/* line 46, ../scss/comun/_structure.scss */
.titulo-tarjeta {
  margin-top: -110px;
  padding: 46px 0;
}
/* line 50, ../scss/comun/_structure.scss */
.titulo-tarjeta h2 {
  font-family: "Lora", serif;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 57, ../scss/comun/_structure.scss */
.titulo-tarjeta h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
}

/* line 64, ../scss/comun/_structure.scss */
.banner-header {
  position: relative;
  text-align: center;
  background-image: url(../images/banner_header.png);
  background-position: top center;
  background-repeat: repeat-x;
  padding: 80px 0;
  z-index: 1;
  margin-top: -150px;
}
/* line 76, ../scss/comun/_structure.scss */
.banner-header h3 {
  font-size: 36px;
  text-transform: uppercase;
}
/* line 80, ../scss/comun/_structure.scss */
.banner-header .lnk,
.banner-header .woocommerce div.product form.cart .variations .reset_variations,
.woocommerce
  div.product
  form.cart
  .variations
  .banner-header
  .reset_variations {
  margin-top: 15px;
  display: inline-block;
}

/* line 88, ../scss/comun/_structure.scss */
.banner-sostenibilidad {
  text-align: center;
  background-image: url(../images/banner_sostenibilidad.png);
  background-position: top center;
  background-repeat: repeat-x;
  background-size: contain;
  color: #fff;
  padding: 80px 15px;
}
/* line 97, ../scss/comun/_structure.scss */
.banner-sostenibilidad h3 {
  font-size: 36px;
  text-transform: uppercase;
}
/* line 102, ../scss/comun/_structure.scss */
.banner-sostenibilidad .textwidget {
  font-family: "Lora", serif;
  font-size: 16px;
}
/* line 107, ../scss/comun/_structure.scss */
.banner-sostenibilidad IMG {
  margin-top: 25px;
}

/* line 114, ../scss/comun/_structure.scss */
.block-mbf {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 45px 0;
}
/* line 120, ../scss/comun/_structure.scss */
.block-mbf .imagen {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 44px;
  transform: translate(-50%, -50%);
}
/* line 130, ../scss/comun/_structure.scss */
.block-mbf .background {
  background-color: #fdfdfdde;
}
/* line 134, ../scss/comun/_structure.scss */
.block-mbf .background .detalle {
  padding: 40px 22px;
}
/* line 136, ../scss/comun/_structure.scss */
.block-mbf .background .detalle h3 {
  font-size: 19px;
  text-transform: uppercase;
  line-height: 1.8;
}
/* line 141, ../scss/comun/_structure.scss */
.block-mbf .background .detalle p {
  font-size: 13px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  /* line 114, ../scss/comun/_structure.scss */
  .block-mbf {
    padding: 89px;
  }
  /* line 162, ../scss/comun/_structure.scss */
  .block-mbf .background .detalle {
    padding: 40px;
  }
}

/* line 3, ../scss/comun/_form.scss */
form input.wpcf7-form-control,
form select.wpcf7-form-control {
  border: 0;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  border: 1px solid #bebebe;
}
/* line 12, ../scss/comun/_form.scss */
form input.wpcf7-form-control.wpcf7-not-valid,
form select.wpcf7-form-control.wpcf7-not-valid {
  border: 1px solid red;
}
/* line 16, ../scss/comun/_form.scss */
form input.wpcf7-form-control[type="checkbox"],
form select.wpcf7-form-control[type="checkbox"] {
  width: auto;
}
/* line 19, ../scss/comun/_form.scss */
form input.wpcf7-form-control[type="file"],
form select.wpcf7-form-control[type="file"] {
  border: 0;
  margin-bottom: 10px;
}
/* line 25, ../scss/comun/_form.scss */
form label {
  font-family: "Lora", serif;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}
/* line 33, ../scss/comun/_form.scss */
form .wpcf7-not-valid-tip {
  display: none !important;
}
/* line 37, ../scss/comun/_form.scss */
form .wpcf7-submit {
  padding: 15px 22px;
  background-color: #a98333;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  transition: all 500ms;
  border: 1px solid transparent;
  width: 100%;
}
/* line 46, ../scss/comun/_form.scss */
form .wpcf7-submit:hover {
  border: 1px solid #a98333;
  background-color: #fff;
  color: #000;
}
/* line 53, ../scss/comun/_form.scss */
form .wpcf7-response-output {
  margin: 1em auto;
}
@media (max-width: 576px) {
  /* line 57, ../scss/comun/_form.scss */
  form input.wpcf7-form-control,
  form select.wpcf7-form-control {
    font-size: 13px;
  }
}

/* line 64, ../scss/comun/_form.scss */
.searchform input {
  font-size: 12px;
  padding: 4px;
}
/* line 69, ../scss/comun/_form.scss */
.searchform button {
  border: none;
}

@media (max-width: 576px) {
  /* line 9, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-d-none {
    display: none !important;
  }
}
@media (min-width: 576px) {
  /* line 23, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item {
    margin-right: 10px !important;
  }

  /* line 26, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item:last-child {
    margin-right: 0 !important;
  }

  /* line 29, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-row
    ul.mega-sub-menu {
    display: flex;
    flex-wrap: wrap;
  }

  /* line 38, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-sm-3 {
    width: 25% !important;
  }
  /* line 41, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-sm-4 {
    width: 33.33% !important;
  }
  /* line 44, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-sm-6 {
    width: 50% !important;
  }
  /* line 47, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-sm-8 {
    width: 60% !important;
  }
  /* line 51, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-border-left {
    border-left: 0px;
  }
  /* line 55, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-sm-none {
    display: none !important;
  }
  /* line 58, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-sm-block {
    display: block !important;
  }
}
@media (min-width: 992px) {
  /* line 72, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item {
    margin-right: 10px !important;
  }

  /* line 75, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item:last-child {
    margin-right: 0 !important;
  }

  /* line 79, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-row
    ul.mega-sub-menu {
    display: flex;
    flex-wrap: wrap;
  }

  /* line 88, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-md-3 {
    width: 25% !important;
  }
  /* line 91, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-md-4 {
    width: 33.33% !important;
  }
  /* line 94, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-md-6 {
    width: 50% !important;
  }
  /* line 97, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-col-md-8 {
    width: 60% !important;
  }
  /* line 101, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-border-left {
    border-left: 0px;
  }
  /* line 105, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-md-none {
    display: none !important;
  }
  /* line 108, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-megamenu
    ul.mega-sub-menu
    li.mega-menu-row
    .mega-md-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  /* line 122, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item {
    margin-right: 30px !important;
  }

  /* line 125, ../scss/comun/_mega_menu.scss */
  #mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item:last-child {
    margin-right: 0 !important;
  }
}
/* line 195, ../scss/comun/_partials.scss */
.content .content:after {
  content: "";
  display: block;
  clear: both;
}

/* line 1, ../scss/comun/_modal.scss */
.btn:focus {
  box-shadow: none;
}

/* line 5, ../scss/comun/_modal.scss */
.button {
  font-family: "Lora", serif;
  text-transform: uppercase;
  background-color: #000;
  font-size: 19px;
  padding: 10px 31px;
  color: #ffffff;
  transition: all 500ms;
  border: 1px solid transparent;
}
/* line 15, ../scss/comun/_modal.scss */
.button:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
@media (max-width: 576px) {
  /* line 5, ../scss/comun/_modal.scss */
  .button {
    font-size: 17px;
    width: 100%;
  }
}

.header-single {
  height: 250px;
  margin-bottom: 50px;
  padding: 10px;
  position: relative;
}

.header-single::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff80;
}

.header-single h2 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  color: #000;
}

/* line 16, ../scss/comun/_pages.scss */
.post-tratamientos {
  margin-bottom: 80px;
}
/* line 20, ../scss/comun/_pages.scss */
.post-tratamientos .imagen IMG {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 576px) {
  /* line 19, ../scss/comun/_pages.scss */
  .post-tratamientos .imagen {
    margin-bottom: 30px;
  }
}
/* line 32, ../scss/comun/_pages.scss */
.post-tratamientos .descripcion h2 {
  font-size: 28px;
}
/* line 35, ../scss/comun/_pages.scss */
.post-tratamientos .descripcion p {
  margin: 0 auto 20px auto;
}
/* line 42, ../scss/comun/_pages.scss */
.post-tratamientos .duracion .icon,
.post-tratamientos .tipo .icon {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}

/* line 49, ../scss/comun/_pages.scss */
.block-contact {
  background-image: url("../images/banner_sostenibilidad2.png");
  background-position: center top;
  background-repeat: repeat-x;
  position: relative;
  overflow: hidden;
}
/* line 58, ../scss/comun/_pages.scss */
.block-contact .imagen-form {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
/* line 65, ../scss/comun/_pages.scss */
.block-contact .imagen-form img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 72, ../scss/comun/_pages.scss */
.block-contact h3 {
  margin-bottom: 25px;
  font-size: 29px;
}
